html {
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000;   
}

*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
 transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.cen {
    display: flex;
    align-items: center;
    justify-content: center;
     background-color:black;
    color: white;
    margin-top: 140px;
}

.clock {
    height: 200px;
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 3px solid gray;
    margin: 10px 10px;
}


h1 {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.day1 {
    padding-left: auto;
}

.time {
    background-color: #dadada;
    padding: 10px;
    letter-spacing: 5%;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 3px solid gray;
}

.date1 {
    padding-right: 135px;
}


#dm{
    margin-left: 87%;
    cursor: pointer;
    color: white;
      background-color: black;
    color: white;
    padding: 10px 15px;
  border: 2px solid gray;
  border: none;
  font-size: 1.8rem;
}



#moon{
    opacity: 0;
}

@media (max-width: 480px) {
    .clock{
        height: 150px;
        width: 300px;
         font-size: 8px;
         
    }
   #dm{
    font-size: 8px;
    margin-right: auto;
    padding-right: 20px;
    font-weight: 600;
    font-size: 1rem;
   }

    .time{
        height: 200px;
        width: 350px;
        font-size: 8px;
            font-weight: 600;
    }
}